@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html,
body {
  height: 100%;
  margin: 0;
  margin-top: 30px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e7dcd8;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}
main {
  height: 100vh;

  display: grid;
  grid-template-areas:
    ". title ."
    ". catalog ."
    "banner banner banner"
    ". catalogbutton ."
    ". instagram ."
    ". logo .";
}

.catalog {
  @apply text-center text-xl w-full;
  grid-area: catalog;
}
.catalog-button {
  @apply text-center;
  button{
    @apply text-center text-xl ;
    @apply bg-white font-light py-2 px-4 hover:border-transparent rounded-full;
  }
  grid-area: catalogbutton;
}
.launching {
  @apply text-center text-7xl w-full mb-5;
  grid-area: title;
}
.banner {
  grid-area: banner;
}
.instagram {
  grid-area: instagram;
  @apply px-4 py-2 text-center w-full flex justify-center;
}
.logo {
  grid-area: logo;
  img {
    width: 100%;
    height: 100%;
  }
  @apply px-4 py-2 flex flex-col justify-center;
}
