@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html,
body {
  height: 100%;
  margin: 0;
  margin-top: 30px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e7dcd8;
}
main {
  height: 100vh;

  display: grid;
  grid-template-areas:
    "title . ."
    "banner banner banner"
    ". instagram logo";
}

.launching {
  @apply text-xl;
  grid-area: title;
  margin-left: 40px;
}
.banner {
  grid-area: banner;
}
.instagram {
  grid-area: instagram;
}
.logo {
  grid-area: logo;
}
